{% raw %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% if header %}{{ header.title|safe }}{% else %}{% endraw %}{{cookiecutter.project_title}}{% raw %}{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ header.meta|safe }}
    {{ header.link|safe }}

    <link href="{{ STATIC_URL }}images/favicon.png" rel="shortcut icon">

    {# Raven #}
    {% if PRODUCTION %}
        <script src='//cdn.ravenjs.com/1.3.0/native/raven.min.js'></script>
    {% endif %}

    {% for css in assets.style %}
        <link rel="stylesheet" href="{{ css }}" type="text/css" />
    {% endfor %}

    <script type="application/javascript">
        window.__initial_state__ = {{ initialState|safe }};
        window.__no_pre_prender__ = {{noPreRender}};
    </script>
</head>
<body>
    <!-- worker: {{ WORKER }}, prerender: {{ PRERENDER }} -->

    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="root">{{ html|safe }}</div>

    {% for src in assets.script %}
        <script type="text/javascript" src="{{ src }}"></script>
    {% endfor %}
</body>
</html>{% endraw %}
