{% raw %}{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
    {% if validlink %}

        <h1>{% trans "Password reset confirmation" %}</h1>

        <p>
            {% trans "Please choose a new password" %}
        </p>
        {% crispy form %}

    {% else %}

        <h1>{% trans "Password reset unsuccessful" %}</h1>

        <p>
            {% url 'password_reset' as password_reset_url %}
            {% blocktrans trimmed %}
            The password reset link was invalid, possibly because it has already been used.
            Please request a <a href="{{ password_reset_url }}">new password reset</a>.
            {% endblocktrans %}
        </p>

    {% endif %}
{% endblock %}
{% endraw %}
