# Official docker image.
image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay

before_script:
  - apk update
  - apk upgrade
# As CI docker image is based on alpine and we generate lock file outside of docker
# We need system libraries required for pip dependencies
  - apk add python3 python3-dev build-base libffi-dev openssl-dev git postgresql-dev
  - pip3 install docker-compose
  - pip3 install -U pip pipenv==2020.4.1b1 setuptools wheel
  - pipenv install --system --ignore-pipfile --dev
  - git config --global user.email "foo@bar.baz"
  - git config --global user.name "Foo Bar"
# See the following issue for reasoning: https://gitlab.com/gitlab-org/gitlab-ce/issues/41227
  - export SHARED_PATH="$(dirname ${CI_PROJECT_DIR})/shared"
  - export TPL_PLAYGROUND="${SHARED_PATH}/tpl-playground"
  - mkdir -p $TPL_PLAYGROUND

test_main:
  stage: test
  script:
    - pytest -E main --maxfail=1 -v

test_CMS:
  stage: test
  script:
    - pytest -E CMS --maxfail=1 -v

test_CELERY:
  stage: test
  script:
    - pytest -E CELERY --maxfail=1 -v

test_DOC:
  stage: test
  script:
    - pytest -E DOC --maxfail=1 -v

test_CELERY_CMS:
  stage: test
  script:
    - pytest -E CELERY_CMS --maxfail=1 -v

test_merge_master_to_spa:
  stage: test
  allow_failure: true
  only:
    - spa
  script:
    - git merge origin/master || echo "Automatic merge failed $?"
    - git status
