[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = "==1.7.*"
fqdn = "==1.2.*"
cookiecutter_repo_extensions = "==0.2.*"
stringcase = "==1.2.*"

[dev-packages]
docker-compose = "==1.25.*"
pyyaml = "==5.3.*"
pytest = "==5.3.*"
# Released version of pytest-cookies (0.4.0) has the following in dependencies array inside its setup.py:
#
#    - pytest<5.0.0,>=3.3.0
#    - cookiecutter>=1.4.0,<=1.6.0
#
# However it seems to be perfectly compatible with those versions (confirmed by its own CI and our template
#  tests). This is why we are currently installing it from Git. Change back to upstream version once
#  the [PR](https://github.com/hackebrot/pytest-cookies/pull/45) is merged and released.
pytest-cookies = {git = "https://github.com/Jyrno42/pytest-cookies.git", ref = "4d4e4457a9b2d6bc6f8ca76d70bccea37ebfab4d"}

[requires]
python_version = "3.*"
