[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = "==1.6.0"
fqdn = "==1.1.0"
"flake8" = "==3.5.0"
pytest = "==3.9.1"
pytest-cookies = "==0.3.0"
cookiecutter_repo_extensions = "==0.2.1"
pyyaml = "==5.*"

[dev-packages]

[requires]
python_version = "3.*"
