cookiecutter==1.6.0

# Validation of hostnames
fqdn==1.1.0

# until this is resolved: https://github.com/audreyr/cookiecutter/pull/944
cookiecutter_repo_extensions==0.2.1

# Testing requirements
flake8==3.5.0
pytest==3.9.1
pytest-cookies==0.3.0
PyYAML==3.13
