{% raw %}{% extends "emails/base.html" %}{% load i18n %}

{% block content %}
    <p>
        {% blocktrans trimmed %}
            You're receiving this email because you requested a password reset for your user account at {{ project_title }}.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed %}
            Please go to the following page and choose a new password:
        {% endblocktrans %}
        <br/>
        <a href="{{ confirm_reset_url }}">{{ confirm_reset_url }}</a><br/>
    </p>
{% endblock %}
{% endraw %}
