{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
{%- if cookiecutter.project_type == 'spa' %}
        "node": true,
        "mocha": true,
{%- endif %}
    },
    "globals": {
        "DJ_CONST": false,
{%- if cookiecutter.project_type == 'spa' %}
        "chai": true,
{%- endif %}
    },
{%- if cookiecutter.project_type == 'standard' %}
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "app/webpack/config.dev.js",
            },
        },
    },
{%- endif %}

    "rules": {
        // We use 4 spaces for indentation. Everywhere.
        "indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],

        // Set max line length to 120 chars. Smaller lengths feel too small on modern monitors.
        "max-len": ["error", 120],

        // Allow both single- as well as double quotes. This lets us use e.g. double quotes for user-visible strings and
        //  single quotes for internals.
        "quotes": "off",

        // else-return improves readability sometimes, especially with one-liners.
        "no-else-return": "off",

        // Unlike Airbnb, we don't keep spaces inside of curly braces for objects.
        "object-curly-spacing": ["error", "never"],
    },
}
