{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
    },
    "globals": {
        "NO_PRE_RENDERER": false,
        "CLUSTERED": false,
        "WORKER_ID": false,
        "SERVER_MODE": false,
        "DEV_MODE": false,
        "DJ_CONST": false,
        "gettext": false,
        "jest": false,
        "describe": false,
        "test": false,
        "expect": false,
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "app/webpack/config.dev.js",
            },
        },
    },

    "rules": {
        // We use 4 spaces for indentation. Everywhere.
        "indent": ["error", 4, {"SwitchCase": 1}],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],

        // JSX files use .js extension
        "react/jsx-filename-extension": ["error", {"extensions": [".js"]}],

        // Set max line length to 120 chars. Smaller lengths feel too small on modern monitors.
        "max-len": ["error", 120],

        // Allow both single- as well as double quotes. This lets us use e.g. double quotes for user-visible strings and
        //  single quotes for internals.
        "quotes": "off",

        // else-return improves readability sometimes, especially with one-liners.
        "no-else-return": "off",

        // Unlike Airbnb, we don't keep spaces inside of curly braces for objects.
        "object-curly-spacing": ["error", "never"],

        // Allow unary ++ operator in for loop afterthoughts
        "no-plusplus": ["error", {"allowForLoopAfterthoughts": true}],

        // allow some underscore dangles
        "no-underscore-dangle": [
            "error", {
                "allow": [
                    "__initial_state__",
                    "__REDUX_DEVTOOLS_EXTENSION_COMPOSE__",
                ]
            }
        ],

        // Turn these into warnings
        "class-methods-use-this": "warn",
        "jsx-a11y/no-static-element-interactions": "warn",

        // Show TODOs and FIXMEs as warnings
        "no-warning-comments": ["warn", {"location": "anywhere"}],
    },
}
