{% raw %}{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block content %}
    {% if validlink %}

        <h1>Password reset confirmation</h1>

        <p>
            Please choose a new password
        </p>
        {% crispy form %}

    {% else %}

        <h1>Password reset unsuccessful</h1>

        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a <a href="{% url 'password_reset' %}">new password reset</a>.
        </p>

    {% endif %}
{% endblock %}
{% endraw %}