.git
.idea

{{cookiecutter.django_folder_name}}/node_modules/
{% if cookiecutter.frontend_style == WEBAPP %}web{% endif %}app/node_modules/
venv/

.data*/

**/__pycache__
*.pyo
*.pyc

{{cookiecutter.django_folder_name}}/.cache
{{cookiecutter.django_folder_name}}/.pytest_cache
{{cookiecutter.django_folder_name}}/.coverage
{{cookiecutter.django_folder_name}}/coverage
{{cookiecutter.django_folder_name}}/cover/
