.git
.idea

{{cookiecutter.project_backend_path}}/node_modules/
{% if cookiecutter.frontend_style == WEBAPP %}web{% endif %}app/node_modules/
venv/

.data*/

**/__pycache__
*.pyo
*.pyc

{{cookiecutter.project_backend_path}}/.cache
{{cookiecutter.project_backend_path}}/.pytest_cache
{{cookiecutter.project_backend_path}}/.coverage
{{cookiecutter.project_backend_path}}/coverage
{{cookiecutter.project_backend_path}}/cover/
