{%- if cookiecutter.frontend_style == 'webapp' %}

DJANGO_SITE_URL=https://${django_site}

{%- endif %}

DJANGO_SECRET_KEY=secret-key
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_DATABASE_HOST=postgres
DJANGO_DATABASE_PORT=5432
DJANGO_DATABASE_NAME={{cookiecutter.repo_name}}
DJANGO_DATABASE_USER={{cookiecutter.repo_name}}
DJANGO_DATABASE_PASSWORD={{cookiecutter.repo_name}}
