# Ignore everything in .idea
.idea

*.pyo
*.pyc
.sass-cache/
npm-debug.log
node_modules/
venv/

{{cookiecutter.repo_name}}/settings/local.py
{{cookiecutter.repo_name}}/db.sqlite3{% if cookiecutter.is_react_project == 'y' %}
{{cookiecutter.repo_name}}/stats.json
{{cookiecutter.repo_name}}/constants.json{% endif %}
{{cookiecutter.repo_name}}/assets/
{{cookiecutter.repo_name}}/media/{% if cookiecutter.is_react_project == 'y' %}
{{cookiecutter.repo_name}}/app/build/{% endif %}
{{cookiecutter.repo_name}}/static/bower_components/

{{cookiecutter.repo_name}}/.cache
{{cookiecutter.repo_name}}/.coverage
{{cookiecutter.repo_name}}/cover/
