.env
.idea/
# pyenv local python version
.python-version

*.mo
*.pyo
*.pyc
.sass-cache/
yarn-error.log
node_modules/
venv/
.cache/

.data*/

{{cookiecutter.project_backend_path}}/settings/local.py
{{cookiecutter.project_backend_path}}/settings/local_test.py
{{cookiecutter.project_backend_path}}/db.sqlite3
{{cookiecutter.project_backend_path}}/assets/
{%- if cookiecutter.frontend_style == WEBAPP %}
webapp/webapp/build/
webapp/coverage/
webapp/webapp/webpack-stats.json
{% endif %}

{{cookiecutter.project_backend_path}}/.cache
{{cookiecutter.project_backend_path}}/.pytest_cache
{{cookiecutter.project_backend_path}}/.coverage
{{cookiecutter.project_backend_path}}/coverage
{{cookiecutter.project_backend_path}}/coverage.xml
{{cookiecutter.project_backend_path}}/report.xml
{{cookiecutter.project_backend_path}}/htmlcov/
{{cookiecutter.project_backend_path}}/cover/

{%- if cookiecutter.frontend_style == SPA %}
# Node Project files
app/build/
app/cache/
app/coverage/

# Missing translations file
**/locales/**/*.missing.json
{%- endif %}
