[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
{% if cookiecutter.django_media_engine == 'S3' -%}
boto3 = "==1.*"
{% endif -%}
{% if cookiecutter.include_celery == 'yes' -%}
celery = {version = "==4.4.*", extras = ["redis"]}
{% endif -%}
Django = "==2.2.*"
django-crispy-forms = "==1.8.*"
django-environ = "*"
django-redis = "==4.11.*"
"django-storages{% if cookiecutter.django_media_engine == 'GCS' %}[google]{% endif %}" = "==1.7.*"
gunicorn = "==20.*"
# If you change the docker base image to be non-alpine
# This can be changed to psycopg2-binary to get advantage from
# using wheels
"psycopg2" = "==2.8.*"
pyyaml = "==5.*"
"sentry-sdk" = "==0.16.*"
redis = "==3.*"
{% if cookiecutter.include_docs == 'yes' -%}
Sphinx = "*"
sphinx_rtd_theme = "*"
{% endif -%}
tg-utils = {version = "*", extras = ["model-hash"]}
{% if cookiecutter.frontend_style == 'webapp' %}
django-settings-export = "==1.2.*"
django-webpack-loader = "==0.6.*"
django-js-reverse = "==0.9.1"
{% else %}
djangorestframework = "==3.9.*"
django-filter = "==2.1.*"
djangorestframework_simplejwt = "==4.3.*"
django-cors-headers = "==3.0.*"
tg-react = "*"
{% endif %}

[dev-packages]
black = "==19.10b0"
django-debug-toolbar = "*"
ipdb = "*"
# Testing & quality tools
coverage = "*"
isort = "==4.*"
pytest = "==6.*"
pytest-django = "*"
pylint-django = "*"
# Note prospector is very picky about its dependencies,
# avoid specifying versions for pylint/pylint-django/astroid
# and let prospector determine which versions work together
prospector = "==1.2.*"

[requires]
python_version = "{{cookiecutter.python_version}}"
