[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
{% if cookiecutter.django_media_engine == 'S3' -%}
boto3 = "==1.*"
{% endif -%}
{% if cookiecutter.include_celery == 'yes' -%}
celery = {version = "==4.4.*", extras = ["redis"]}
{% endif -%}
Django = "==2.2.*"
django-crispy-forms = "==1.8.*"
django-environ = "*"
django-redis = "==4.11.*"
django-settings-export = "==1.2.*"
"django-storages{% if cookiecutter.django_media_engine == 'GCS' %}[google]{% endif %}" = "==1.7.*"
django-webpack-loader = "==0.6.*"
{% if cookiecutter.include_cms == 'yes' -%}
django-cms = "==3.7.*"
djangocms-file = "==2.4.*"
djangocms-link = "==2.5.*"
djangocms-picture = "==2.4.*"
djangocms-text-ckeditor = "==3.8.*"
django-filer = "==1.6.*"
django-mptt = "==0.11.*"
easy-thumbnails = "==2.4.*"
{% endif -%}
django-js-reverse = "==0.9.1"
gunicorn = "==20.*"
# If you change the docker base image to be non-alpine
# This can be changed to psycopg2-binary to get advantage from
# using wheels
"psycopg2" = "==2.8.*"
pyyaml = "==5.*"
raven = "==6.*"
redis = "==3.*"
{% if cookiecutter.include_docs == 'yes' -%}
Sphinx = "*"
sphinx_rtd_theme = "*"
{% endif -%}
tg-utils = {version = "*", extras = ["model-hash"]}

# Testing & quality tools
coverage = "*"
isort = "==4.*"
pytest = "==5.*"
pytest-django = "*"
pylint-django = "*"
# Note prospector is very picky about its depenedncies,
# avoid specifying versions for pylint/pylint-django/astroid
# and let prospector determine which versions work together
prospector = "==1.2.*"

[dev-packages]
django-debug-toolbar = "*"
ipdb = "*"

[requires]
python_version = "{{cookiecutter.python_version}}"
