.tg-menu {
    :global {
        .dropdown-menu {
            > a > .list-group-flush {
                margin-top: 4px;
                margin-left: -24px;
                margin-right: -24px;
                margin-bottom: -8px;
                padding-top: 0;
                padding-bottom: 0;

                > li {
                    padding: 0 2.25rem;

                    li {
                        padding-top: 4px;
                        padding-bottom: 4px;
                    }
                }

                .list-group-item {
                    border-top: 0;
                }
            }
        }
    }
}
